body {
    padding-bottom: 1em;
}

a.unstyled {
    text-decoration: none;
}

.max100 {
    max-width: 100%
}

.video {
    width: 100%;
}

.avatar {
    width: 100px;
    height: 100px;
}

.user-title .username {
    font-size: 3em;
    line-height: 1em;
}

.margin-left-05 {
    margin-left: 0.5em;
}

.margin-right-05 {
    margin-right: 0.5em;
}

.margin-bottom-05 {
    margin-bottom: 0.5em;
}

.margin-top-05 {
    margin-top: 0.5em;
}

.padding-left-1 {
    padding-left: 1em;
}

.padding-right-1 {
    padding-right: 1em;
}

.padding-bottom-1 {
    padding-bottom: 1em;
}

.padding-top-1 {
    padding-top: 1em;
}

.btn.btn-no-click {
    cursor: default;
}

.btn.btn-default.btn-inverse, .btn.btn-default.btn-inverse:active {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #000000;
    box-shadow: none;
}

.cli .output {
    color: #228B22;
}